 /*
 * MMM-Looko2-aq
 *
 * By Mariusz Skarupiński (https://github.com/marska)
 * 
 * MIT Licensed.
 */

.MMM-Looko2-aq-status-good {  
    color: #a3ea80;
}

.MMM-Looko2-aq-status-moderate {  
    color: #f8dd70;
}

.MMM-Looko2-aq-status-poor {  
    color: #ff5a44;
}

.MMM-Looko2-aq-warning {  
    color: #ffc107;
}